<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>OmaVoice</vendor>
  <vendor_url>https://github.com/mintisan/omavoice</vendor_url>
  <icon_name>app.omavoice.Settings</icon_name>

  <action id="app.omavoice.keyd.apply">
    <description>Apply OmaVoice RC003 key mappings</description>
    <description xml:lang="zh_CN">应用 OmaVoice RC003 按键映射</description>
    <message>Authentication is required to validate and apply OmaVoice RC003 key mappings</message>
    <message xml:lang="zh_CN">需要管理员授权才能校验并应用 OmaVoice RC003 按键映射</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/omavoice/omavoice-keyd-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
